/*
 * Bulk Modify - Styles
 */

.matchText .mark {
	font-weight: bold;
	color: red;
}

.flag {
	padding: 0em 0.5em;
}

#changeCommands label {
	margin-right: 1em;
}

#loading {
	text-align: center;
	margin: 0.5em 0em;
}
#loading td {
	border-bottom: 1px solid #DDDDDD;
}
#loading img {
	margin: 0em 2em;
}

#serverError {
	font-size: 140%;
	text-align: center;
	color: red;
}

#content #bulkModifyForm .matchText{
	font-size: 80%;
}

#bulkModifyForm table {
	width: 90%
}

#cellCommands {
	width: 5%;
}
#cellDocumentInfo {
	width: 35%;
}
#cellText {
	width: 60%;
}

.substitutionMsg {
	text-align: center;
	vertical-align: middle;
	font-size: 140%;
}
.substitutionDone {
	color: green;	
}
.substitutionError {
	color: red;
}

.noResults {
	font-size: 120%;
	text-align: center;
	font-weight: bold;
}

.counter {
	font-size: 120%;
	font-weight: bold;
}

.possibleContentType {
	margin-right: 1em;
}

.matchText .pre {
	padding:0.5em;
	background-color: red;
	color: white;
}
.matchText .post {
	padding:0.5em;
	background-color: #71F271;
	color: black;
}
