/*
 * Bulk Modify - Styles
 */

.matchText .mark {
	font-weight: bold;
	color: red;
}

.flag {
	padding: 0em 0.5em;
}

#changeCommands label {
	margin-right: 1em;
}

#loading {
	text-align: center;
	margin: 0.5em 0em;
}
#loading td {
	border-bottom: 1px solid #DDDDDD;
}
#loading img {
	margin: 0em 2em;
}

#serverError {
	font-size: 140%;
	text-align: center;
	color: red;
}

#content #bulkModifyForm .matchText{
	font-size: 80%;
}

#bulkModifyForm table {
	width: 90%
}

#cellCommands {
	width: 7%;
}
#cellDocumentInfo {
	width: 33%;
}
#cellText {
	width: 60%;
}
#bulkModifyForm table.listing tr.allDocFocus,
#bulkModifyForm table.listing tr.allDocFocus td {
	background-color: #E1F762;
}

.allOfTheDoc {
	margin-left: 0.7em;
	background-color: blue;
}

.substitutionMsg {
	text-align: center;
	vertical-align: middle;
	font-size: 140%;
}
.substitutionMsg .discreet {
	font-size: 70%;
	margin-top: 0em;
	margin-bottom: 0em;
}
.substitutionDone {
	color: green;	
}
.substitutionError {
	color: red;
}

.noResults {
	font-size: 120%;
	text-align: center;
	font-weight: bold;
}

.counter {
	font-size: 120%;
	font-weight: bold;
}

.possibleContentType {
	margin-right: 1em;
}

.matchText .preChange,
.matchText .postChange {
	padding:0.5em;
}
.matchText .preChange .content {
	padding:2px;
	background-color: red;
	color: white;
}
.matchText .postChange .content {
	padding:2px;
	background-color: #71F271;
	color: black;
}

.typeCheckEven {
	float:left;
}
.typeCheckOdd {
	margin-left: 50%;
}

.replacementKind {
	float:left;
	width: 30%;
	margin-right: 1em;
}

#selectAllTypes {
	margin-bottom: 0.5em;
}
